html {
  transition: all 1s;
}

html:hover #special-logo{
  opacity:1;
  margin-right: 0%;
}


h1 {
  color: green;
  text-align: left;
}

p, a, li {
  color: blue;
  font-style: italic;
  text-align: right;
  font-size: calc(1em + 2px);
}

table {
  margin: auto;
  border-collapse: collapse;
}

th, td {
  border: 2px solid #888888;
  background-color: #f0f0f0;
}

ul {
  color: black;
  list-style-position: inside;
}


#special-header {
  text-align: center;
}

#special-logo {
  display: block;
  opacity: 0;
  margin-right: 30%;
  transition: 1s;
}
